/* Colors: */
/* Font/text values */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "bree", sans-serif;
  background: #fafcfc;
  color: #778281;
  font-size: 1.1rem;
  font-weight: 400px;
  letter-spacing: 0.8px;
}

.clearfix {
  zoom: 1;
  content: " ";
  clear: both;
  display: block;
  height: 0;
}

.main-menu {
  position: fixed;
  width: 100%;
  height: 4.875rem;
  padding: 10px 0;
  background: #fafcfc;
}

.main-menu .logo {
  height: 58px;
  margin-left: 16px;
}

.main-menu .content {
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 900px;
  margin: 0px auto;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu a {
  text-decoration: none;
  color: #428584;
}

.main-menu li {
  list-style: none;
  display: inline-block;
  font-family: "bree", sans-serif;
  padding: 0 20px;
  font-size: 1.1rem;
  line-height: 18px;
  color: #778281;
  cursor: pointer;
}

/* cart */
.cart {
  position: fixed;
  min-height: 10rem;
  background: #fafcfc;
  top: 4.875rem;
  right: 0;
  width: 0;
  padding-bottom: 50px;
}

.cart h3 {
  padding-top: 8px;
}

.cart-total {
  color: #428584;
  padding-left: 20px;
}

.cart-total-title {
  padding-top: 8px;
}

.show-cart {
  width: 18rem;
  padding: 2rem 1.5rem;
}

/* cart item */
.cart-item-remove {
  color: #778281;
}

#cartboy {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#cart-item-price {
  font-size: 1.1rem;
}

.product-name {
  font-weight: 800;
  padding-top: 10px;
}

.product-count {
  line-height: 2px;
}

.hero {
  background: url("../img/tea_cup.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-family: "bree", sans-serif;
}

.hero-content {
  text-align: center;
  margin: 0px 16px;
}

.hero-content h1 {
  color: #ffffff;
  font-size: 3.4rem;
  line-height: 4.563rem;
  max-width: 900px;
}

@media screen and (max-width: 426px) {
  .hero-content h1 {
    font-size: 45px;
    line-height: 60px;
  }
}

.hero input {
  border-radius: 50px;
  border: none;
  padding: 20px;
  font-family: "bree", sans-serif;
  width: 100%;
  max-width: 545px;
  margin-top: 30px;
  outline: none;
}

.button {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 6.25rem;
}

.button-cart-clear {
  display: inline-block;
  font-family: "bree", sans-serif;
  letter-spacing: 0.03rem;
  font-size: 1rem;
  text-align: center;
  padding: 0.3rem 0.8rem;
  border-radius: 12.5rem;
  border: 0.063rem solid #778281;
  background: #fafcfc;
  margin-top: 2rem;
  margin-right: 1rem;
  color: #778281;
  cursor: pointer;
}

.button-checkout {
  display: inline-block;
  font-family: "bree", sans-serif;
  letter-spacing: 0.06rem;
  font-size: 1rem;
  text-align: center;
  padding: 0.3rem 1.4rem;
  border-radius: 12.5rem;
  border: 0.063rem solid #FEC33C;
  background: #FEC33C;
  color: #428584;
  cursor: pointer;
  outline: none;
}

.button-more {
  display: inline-block;
  font-family: "bree", sans-serif;
  letter-spacing: 0.06rem;
  font-size: 1rem;
  text-align: center;
  padding: 0.625rem 2.5rem;
  border-radius: 12.5rem;
  border: 0.063rem solid #FEC33C;
  background: #FEC33C;
  color: #428584;
  cursor: pointer;
  outline: none;
  margin: auto;
}

.section-title {
  text-align: center;
  margin: 5.5rem 1.5rem 3rem 1.5rem;
}

.section-title h1 {
  font-size: 3.4rem;
  line-height: 4.563rem;
}

@media screen and (max-width: 426px) {
  .section-title h1 {
    font-size: 2.813rem;
    line-height: 3.75rem;
  }
}

.section-products {
  margin: auto;
  text-align: center;
}

.section-center {
  margin: auto;
  max-width: 1040px;
}

.section-location {
  text-align: center;
}

.products {
  text-align: center;
}

.products-img {
  display: inline-block;
  margin: 0rem 0.625rem 0rem 0.625rem;
  width: 18rem;
  height: 18rem;
  border-radius: 1.563rem;
}

.products-info {
  text-align: center;
  min-width: 18rem;
}

.products-name {
  line-height: 0.4rem;
  padding-top: 1.375rem;
  padding-bottom: 1rem;
}

.products-price {
  line-height: 1.5rem;
  color: #428584;
}

.products-button {
  display: inline-block;
  font-family: "bree", sans-serif;
  letter-spacing: 0.08rem;
  font-size: 0.875rem;
  padding: 0.25rem 1rem;
  border-radius: 12.5rem;
  border: 1px solid #428584;
  background: #428584;
  color: #fff;
  cursor: pointer;
  outline: none;
  margin: 0.75rem 0rem 2rem 0rem;
}

@media (min-width: 576px) {
  .products {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 1rem);
            flex: 0 0 calc(50% - 1rem);
    margin-bottom: 1rem;
  }
  -center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 576px) {
  .products-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 600px) {
  .products {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.333% - 1rem);
            flex: 0 0 calc(33.333% - 1rem);
  }
}

@media (max-width: 1000px) {
  .products-text {
    padding-bottom: 0;
  }
}

.productList .singleThumb {
  display: none;
  margin: auto;
}

ul.productList li.singleThumb {
  overflow: hidden;
}

.our-img {
  text-align: center;
}

.our-photo {
  max-width: 1040px;
  width: 90%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.563rem;
}

.our-text p {
  max-width: 1072px;
  text-align: center;
  padding: 35px 16px;
  margin: auto;
}

.location-block {
  display: inline-block;
  text-align: center;
}

.location-block-text {
  text-align: center;
}

.location-img {
  text-align: center;
}

.location-photo {
  max-width: 620px;
  width: 90%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.563rem;
  text-align: center;
}

.location-text p {
  text-align: left;
  padding: 35px 16px;
  color: #778281;
}

.location-text p a:link, .location-text p a:visited {
  color: #778281;
  background-color: transparent;
  text-decoration: none;
}

.copyright {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
  text-align: center;
  font-size: 0.875rem;
  color: #ffffff;
  background-color: #428584;
}
/*# sourceMappingURL=style.css.map */