@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: $bree;
  background:  $white-color;
  color: $text-color;
  font-size: $font-size-18;
  font-weight: $font-weight-400;
  letter-spacing: $character-spacing;
}

.main-menu {
  width: 100%;
  padding: 10px 0;
  .logo {
    height: 58px;
  }
  .content {
    float: none;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: $primary-color-A;
    
  }
  li {
    list-style: none;
    display: inline-block;
    font-family: $bree;
    padding: 0 20px;
    font-size: $font-size-18;
    color: $primary-color-A;
  }
}

.hero {
  background: url('../img/tea_cup.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: $bree;
  .content {
    text-align: center;
    h1 {
      color:$white-color;
      font-size: $font-size-55;
      line-height: $line-height-h1-h3;
      max-width: 900px;
    }
    input {
      border-radius: 50px;
      border: none;
      padding: 20px;
      font-family: $bree;
      width: 100%;
      max-width: 545px;
      margin-top: 30px;
    }
  }
}

// .clearfix {
//   zoom: 1;
// }

.clearfix {
  zoom: 1;
  content: " ";
  clear: both;
  display: block;
  height: 0;
}

// section

.section {
  &-title {
    text-align: center;
    margin: 5.5rem 1.5rem 3rem 1.5rem;
    h1 {
      font-size: $font-size-55;
      line-height: $line-height-h1-h3;
    }
  }
  &-center {
    margin: 0 auto;
    max-width: 1040px;
  }
  @media screen and (max-width: 769px) {
    &-title { 
      margin: 6rem 1.5rem 3rem 1.5rem;
    }
  }
  @media screen and (max-width: 426px) {
    &-title { 
      margin: 4rem 1.5rem 3rem 1.5rem;
    }
  }
}

// main button
.button {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 6.25rem;
  &-more {
      display: inline-block;
      font-family: $bree;
      letter-spacing: 0.06rem;
      font-size: 1rem;
      text-align: center;
      padding: 0.625rem 2.5rem;
      border-radius: 12.5rem;
      border: 0.063rem solid $secondary-color;
      background: $secondary-color;
      color: $primary-color-A;
      cursor: pointer;
  }
}

//product

.products {
  text-align: center;
&-img {
  display: inline-block;
  margin: 0rem 0.625rem 0rem 0.625rem;
  width: 18rem;
  height: 18rem;
  border-radius: 1.563rem;
}
&-info {
  text-align: center;  
  min-width: 18rem;
}
&-name {
  line-height: 0.4rem;
  padding-top: 1.375rem;
  padding-bottom: 1rem;
  // margin-left: auto;
  // margin-right: auto;    
}
&-price {  
  line-height: 1.5rem;
  // margin-left: auto;
  // margin-right: auto;
}
&-button {
  display: inline-block;
  font-family: $bree;
  letter-spacing: 0.08rem;
  font-size: 0.875rem;
  padding: 0.25rem 1rem;
  border-radius: 12.5rem;
  border: 1px solid $primary-color-A;
  background: $primary-color-A;
  color: #fff;
  cursor: pointer;
  margin: 0.75rem 0rem 2rem 0rem;
}
}

@media (min-width: 576px) {
.products {
  flex: 0 0 calc(50% - 1rem);
  margin-bottom: 1rem;
}
&-center{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
}

@media (min-width: 576px) {
  .products-center{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  & {
    flex: 0 0 calc(50% - 1rem);
  }
  }
@media (min-width: 600px) {
  .products{
    flex: 0 0 calc(33.333% - 1rem);
  }
}
@media (max-width: 1000px) {
  .products-text{
    padding-bottom: 0;
  }
}
