/* Colors: */
$primary-color-A: #428584;
$primary-color-B: #Ffffff;
$secondary-color: #FEC33C, 100%;
$text-color: #778281, 100%;


/* Font/text values */
$bree: "bree",sans-serif;
$font-style-normal: normal;
$font-weight-400: 400px;
$font-weight-bold: bold;
$font-weight-700: 400px;
$font-size-55: 3.4rem;
$font-size-42: 2.6rem;
$font-size-18: 1.1rem;

$character-spacing-0: 0px;
