/* Colors: */
$primary-color-A: #428584;
$primary-color-B: #Ffffff;
$secondary-color: #FEC33C;
$text-color: #778281;
$white-color: #ffffff;

/* Font/text values */
$bree: "bree",sans-serif;
$font-style-normal: normal;
$font-weight-400: 400px;
$font-weight-bold: bold;
$font-weight-700: 400px;
$font-size-55: 3.4rem;
$font-size-42: 2.6rem;
$font-size-18: 1.1rem;
$character-spacing: 0.013px;
$line-height-h1-h3: 4.563rem;
